.item{
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
}
.price{
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    margin: 5px;
}

.table{
    border-bottom: 1px solid;
    padding: 5px;

    width: 100%;
    
}

.table:hover{
    /* font-style: italic; */
    
}